
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');
body {
    background:#ff006e;
    font-family: 'Mulish',sans-serif;
    
}

.comment_box{

    list-style-type:none;
    padding-left: 0;
}

.comment_box.comment h6{

    font-weight: 800;
}

p{
    font-size: 13px;
}